
# Node Modules
node_modules

# TS Builds
api/dist/*

# App Logging
*.log

# Example Code
TypeScript-Node-Starter-master/*

# Environment
*.env

# VS Code
*.vscode
*.code-workspace

# Tests
api/coverage/*
